{% extends "base.html" %}

{% block content %}
  <h1>Task Detail</h1>
  {{ task.model }}
  {% if perms.manager.delete_worker %}
    <a href="{% url 'manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  {% endif %}
  <a href="{% url 'manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
    Update
  </a>
  <br>
  <div class="task-detail">
    <h2>{{ task.name }}</h2>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>
    <p><strong>Completed:</strong> {{ task.is_completed }}</p>
    <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
    <p><strong>Task Type:</strong> {{ task.task_type.name }}</p>
    <p><strong>Assigned Workers:</strong>
    <ul>
      {% for worker in task.assigned.all %}
        <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
      {% endfor %}
    </ul>
    <p><strong>Tags:</strong>
    <ul>
      {% for tag in task.tags.all %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
    <p><strong>Project:</strong>
      {% if task.project %}
        {{ task.project.name }}
      {% else %}
        No Project
      {% endif %}
    </p>
  </div>

  {% if can_complete %}
    <form method="post" action="{% url 'manager:task-complete' pk=task.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Complete Task</button>
    </form>
  {% endif %}
  <br>
  
  <a href="{% url 'manager:task-list' %}" class="btn btn-primary link-to-page">
    Back to Task List
  </a>
{% endblock %}
