{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task list
    <a href="{% url 'manager:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <br>

  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <a href="{% url "manager:task-detail" pk=task.id %}">{{ task.id }}</a>
          {{ task.name }} ({{ task.is_completed }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
