{% extends "base.html" %}
{% block content %}
  <h1>Teams List</h1>
  <br>

  {% if team_list %}
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Projects</th>
      </tr>
      </thead>
      <tbody>
      {% for team in team_list %}
        <tr>
          <td><a href={% url 'manager:team-detail' pk=team.id %}>{{ team.name }}</a></td>
          <td>
            {% for project in team.project.all %}
              {{ project.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No projects
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No teams available.</p>
  {% endif %}
{% endblock %}